@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    font: 400 16px/30px $base-font;
    color: $font-color;
    cursor: default;
}

a {
    text-decoration: none;
    color: $link-color;
}

input {
    outline: none;
}

table {
    border-collapse: collapse;
}

.wrapper {
    overflow: hidden;
}

.container {
    max-width: 1630px;
    margin: 0 auto;
    padding: 0 15px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.row.oliva {
    .col {
        &__text {
            padding-bottom: 88px;
        }
        &__iconwrapper {
            margin-top: 8px;
        }
    }
}

.col {
    flex-shrink: 0;
    flex-grow: 1;
    position: relative;
    overflow: hidden;

    &.centered {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
    }

    &__background {
        position: absolute;
        min-height: 102%;
        min-width: 102%;
        width: auto;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

    }

    &__icon {
        position: relative;
        z-index: 10;
    }

    &__presentation {
        padding: 117px 65px 139px;
        background: $white;
        text-align: center;
        position: relative;

        h4 {
            padding: 15px 0 21px;
            font-size: 18px;
            letter-spacing: 3.6px;
        }

        p {
            position: relative;
            margin: 0 auto;
            padding-left: 35px;
            width: 76%;
            font-size: 18px;
            line-height: 1.8;
        }
    }

    &__iconwrapper {
        width: 42px;
        height: 42px;
        margin: auto;
    }

    &__text {
        padding: 56px 66px 96px;
        background: $white;
        text-align: center;
        position: relative;

        &:after {
            content: '';
            position: absolute;
            left: calc(50% - 10px);
            top: 99.7%;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 10px 10px 0 10px;
            border-color: $white transparent transparent transparent;
            z-index: 1;
        }

        h4 {
            padding: 13px;
            text-transform: uppercase;
            font-size: 18px;
            letter-spacing: 3.6px;
        }

        p {
            text-align: justify;
            position: relative;

            &:after {
                content: '';
                width: 50px;
                height: 1px;
                position: absolute;
                left: calc(50% - 25px);
                bottom: -22%;
                background-color: rgba(53, 55, 56, 0.2);
            }
        }
    }

    &__static-img {
        height: 200px;
        position: relative;
        overflow: hidden;
    }
}

.our_clients {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 90%;
    margin: 0 auto;
}

#clients .swiper {
    margin-top: -24px;
}

.reviews .swiper-wrapper {
    margin: 80px 0 100px;
}

.reviews .swiper-slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.text_reviews {
    font: 400 18px/24px 'Roboto Slab', 'Times New Roman', Times, serif;
    font-style: italic;
	width: 800px;
    margin: 0 auto;
    line-height: 1.6;
    letter-spacing: 0.1px;
}

.author_reviews {
    margin-top: 34px;
    font: 400 20px/24px 'Roboto Slab', 'Times New Roman', Times, serif;
}

.col-100 {
    @extend .col;
    width: 100%;
}

.col-66 {
    @extend .col;
    width: 66.7%;
}

.col-50 {
    @extend .col;
    width: 50%;
}

.col-33 {
    @extend .col;
    width: 33.3%;
}

@media (max-width:1420px) {
    .container {
        max-width: 1380px;
    }

    .col__text {
        padding: 80px 20px;
    }
}

@media (max-width:1180px) {

    .row {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
    }

    .col__presentation {
        padding: 30px 25px;
    }

    .col__presentation p {
        padding: 0;
        text-align: justify;
        width: 100%;
    }

    .col {
        flex-direction: column;
        width: 100%;
        min-height: 200px;
    }

    .col__text {
        padding: 60px 20px;
    }

    .col__text p:after {
        bottom: -10%;
    }

    .boriosa {
        display: flex;
        flex-direction: column-reverse;
    }
}

@media (max-width:440px) {
    .background-wrapp {
        margin-top: 115%;
    }
}
