@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    font: 400 16px/30px $base-font;
    color: $font-color;
    cursor: default;
}

a {
    text-decoration: none;
    color: $link-color;
}

input {
    outline: none;
}

table {
    border-collapse: collapse;
}

.wrapper {
    overflow: hidden;
}

.container {
    max-width: 1630px;
    margin: 0 auto;
    padding: 0 15px;
}

.row {
    display: flex;
    flex-wrap: wrap;

    @include screen(1130) {
        align-items: flex-start;
    }

    .oliva {
        .col {
            &__text {
                padding-bottom: 88px;
    
                @include screen(1420) {
                    padding-bottom: 44px;
                }

                @include screen(1130) {
                    padding-bottom: 22px;
                }
            }
            &__iconwrapper {
                margin-top: 8px;
            }
        }
    }

    .boriosa {
        @include screen(1130) {
            display: flex;
            flex-direction: column-reverse;
        }
    }
}

.col {
    flex-shrink: 0;
    flex-grow: 1;
    position: relative;
    overflow: hidden;

    &.centered {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
    }

    &__background {
        position: absolute;
        min-height: 102%;
        min-width: 102%;
        width: auto;
        max-width: none;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

    }

    &__icon {
        position: relative;
        z-index: 10;

        &--hidden {
            @extend .col__icon;
            opacity: 0;
            transition: .3s;
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 10;
        }
    }

    &__link {
        display: block;
    }

    &__presentation {
        padding: 117px 65px 139px;
        background: $white;
        text-align: center;
        position: relative;

        @include screen(1420) {
            padding: 55px;
        }

        @include screen(1130) {
            padding: 35px 45px;
        }

        h4 {
            padding: 15px 0 19px;
            font-size: 18px;
            letter-spacing: 3.6px;
        }

        p {
            position: relative;
            margin: 0 auto;
            padding-left: 35px;
            width: 76%;
            font-size: 18px;
            line-height: 1.8;

            @include screen(1130) {
                padding: 0;
                width: 100%;
            }
        }
    }

    &__iconwrapper {
        width: 42px;
        height: 42px;
        margin: auto;
    }

    &__text {
        padding: 56px 66px 96px;
        background: $white;
        text-align: center;
        position: relative;

        @include screen(1420) {
            padding: 40px 20px;
        }

        @include screen(1130) {
            padding: 30px 45px;
        }

        &:after {
            content: '';
            position: absolute;
            left: calc(50% - 10px);
            top: 99.7%;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 10px 10px 0 10px;
            border-color: $white transparent transparent transparent;
            z-index: 1;
            
        }

        h4 {
            padding: 13px;
            text-transform: uppercase;
            font-size: 18px;
            letter-spacing: 3.6px;
        }

        p {
            text-align: justify;
            position: relative;

            @include screen(1420) {
                text-align: center;
            }

            &:after {
                content: '';
                width: 50px;
                height: 1px;
                position: absolute;
                left: calc(50% - 25px);
                bottom: -22%;
                background-color: rgba(53, 55, 56, 0.2);

                @include screen(1420) {
                    bottom: -10%;
                }

                @include screen(340) {
                    bottom: 0;
                }
            }
        }
    }

    &__static-img {
        height: 200px;
        position: relative;
        overflow: hidden;
    }
}
.col-100 {
    @extend .col;
    width: 100%;
}

.col-66 {
    @extend .col;
    width: 66.7%;
}

.col-50 {
    @extend .col;
    width: 50%;
}

.col-33 {
    @extend .col;
    width: 33.3%;

    .background-wrapp {
        @include screen(440) {
            margin-top: 115%;
        }
    }
}

.twitter {
    .reviews {
        &__logo-soc {
            display: flex;
            justify-content: center;
            margin-top: 124px;

            @include screen(1420) {
                margin-top: 35px;
            }
        }

        .swiper-wrapper {
            margin: 20px 0 100px;
            text-align: center;

            @include screen(1420) {
                margin-bottom: 35px;
            }

            @include screen(640) {
                margin-bottom: 5px;
            }
            
            .swiper-slide .twit {
                &__author {
                    font-size: 18px;
                    letter-spacing: 2.3px;

                    @include screen(640) {
                        font-size: 14px;
                    }

                    a {
                        font-weight: 600;
                        padding-right: 6px;
                    }
                }
                
                &__text {
                    font-style: italic;
                    font-size: 24px;
                    width: 70%;
                    margin: 0 auto;
                    line-height: 1.5;
                    padding: 10px 0 0 35px;

                    @include screen(1420) {
                        padding-left: 0;
                    }

                    @include screen(640) {
                        font-size: 16px;
                        width: 90%;
                        padding-bottom: 15px;
                    }
                }
            }
        }

        .swiper-pagination {
            bottom: 18px;

            @include screen(1420) {
                bottom: 12%;
            }

            @include screen(640) {
                bottom: 0;
            }
            
            .swiper-pagination-bullet {
                background: transparent;
                border: 2px solid $pagination-bullet;
                width: 11px;
                height: 11px;
            }

            .swiper-pagination-bullet.swiper-pagination-bullet-active {
                background: $bullet-active;
                border: none;
            }
        }
    }
}

@media (max-width:1130px) {
    .col {
        flex-direction: column;
        width: 100%;
        min-height: 200px;
    }
}
