.header {

    .navigation {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        &__logo {
            flex-shrink: 0;
            width: 94px;
            margin: 9px 28px 0;
        }

        &__left,
        &__right {
            display: flex;
            align-items: center;            
            flex-grow: 1;
            flex-shrink: 0;
            flex-wrap: wrap;
            padding: 0 0 9px;

            a {
                text-transform: uppercase;
                font-size: 13px;
                font-weight: 700;
                line-height: 16px;
                display: block;
                letter-spacing: 2.5px;
                padding: 5px;
                width: 170px;
            }

            // a:first-child {
            //     content: '';
            //     width: 2px;
            //     height: 2px;
            //     background-color: $link-color;
            //     border-radius: 50%;
            //     position: absolute;
            //     top: 50%;
            //     margin: -3 0 0 0;
            // }
        }

        &__left {
            justify-content: flex-end;
        }

        .menu-left, .menu-right {
            flex-direction: row;
        }
        
        .mobile-menu-left, .mobile-menu-right {
            cursor: pointer;
            width: 48px;
            height: 50px;
            margin-top: 5px;
            
            background: url("../images/menu-list.png") no-repeat 50%;
            background-size: 100%;
        }
    }
}

@media (min-width:440px) {
    .header {
        .navigation {
            .mobile-menu-left, .mobile-menu-right {
                display: none;
            }
            .menu-left, .menu-right {
                display: flex;
            }  
            &__left,
            &__right {
                width: calc(50% - 47px);
                padding: 5px 35px;
            }
            &__left {
                text-align: right;
            }
            &__right {
                text-align: left;
            }
        }
    }
}

@media (max-width:1180px) {
    .header .navigation__left,
    .header .navigation__right {
        flex-direction: column;
    }

    .menu-left, .menu-right {
        text-align: center;
    }
}

@media (max-width:440px) {

    .menu-left {
        text-align: left;
    }

    .menu-right {
        text-align: right;
    }

    .mobile-menu-left, .mobile-menu-right {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .mobile-menu-left {
        margin-right: 10%;
        text-align: left;
    }

    .mobile-menu-right {
        margin-left: 10%;
        text-align: right;
    }

    .navigation .menu-left, .navigation .menu-right {
        display: none;
        position: absolute;
        top: 100%;
        width: 80%;
        z-index: 10;
        background: transparent;
        border-radius: 4px;
    }

    .navigation .menu-left {
        margin-right: 15%;
    }

    .navigation .menu-right {
        margin-left: 15%;
    }
}
